<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div data-controller="people">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name,
                          id: :person_name,
                          data: {
                            target: "people.name",
                            action: "change->people#toUpper"
                          }
      %>
    </div>

    <div class="field">
      <%= form.label :username %>
      <%= form.text_field :username,
                          id: :person_username,
                          data: { target: "people.username" }
      %>

      <button data-action="click->people#usernameSuggestion">
        USERNAME SUGGESTION
      </button>
    </div>

    <div class="field">
      <%= form.label :document, "Document ( try to paste some text! )", class: "small" %>
      <%= form.text_field :document,
                          id: :person_document,
                          data: {
                            target: "people.document",
                            action: "paste->people#paste"
                          }
      %>
    </div>

    <div class="field">
      <%= form.label :favcolor %>
      <%= form.text_field :favcolor,
                          id: :person_favcolor,
                          data: {
                            target: "people.favcolor",
                            action: "blur->people#color"
                          }
      %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
